.contact {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center; 
    background-color: #d8d8d8;
  }
  
  .makeupdetails{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center; 
  }
  
  .bridalmakeup{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center; 
  }
  